nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: white;
    filter: drop-shadow(0 0 0.4rem rgba(72, 72, 72, 0.6));
    border-radius: 0 0 25px 25px;
    padding: 1rem 0;
}
nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0.5rem;
    font-family: BlockCraft;
    font-size: 1.4rem;
}
nav > ul > li > p {
    display: none;
}
nav > ul > li > img {
    filter: brightness(0);
}
nav > ul > li:hover > img, nav > ul > li.active > img {
    filter: brightness(1);
}
nav > ul > li {
    position: relative;
    border-radius: 12px;
    padding: 0.4rem .8rem;
    cursor: pointer;
    height: fit-content;
}
nav > ul > li:hover, nav > ul > li.active {
    background-color: #f0e4ff;
}
.nav-tab {
    position: fixed;
    background-color: white;
    border-radius: 20px;
    top: 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90vw;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    nav {
        box-sizing: border-box;
        width: 116px;
        padding: 2rem 1.5rem;
        height: 40vh;
        top: 15%;
        border-radius: 0 20px 20px 0;
        height: fit-content;
        transition: width 0.3s ease-in-out;
        overflow: visible;
    }
    nav > ul {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1.2rem;
    }
    nav > ul > li {
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
        border-radius: 12px;
        width: 100%;
        cursor: pointer;
    }
    nav > ul > li:hover > p, nav > ul > li.active > p {
        color: #9747FF;
    }
    nav > ul > li > img {
        vertical-align: middle;
        object-fit: contain;
        aspect-ratio: 1 !important;
    }
    nav > ul > li > p {
        margin: .5rem 0;
        transform: translateY(4px);
        vertical-align: middle;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        text-wrap: nowrap;
        transition: opacity 0.3s ease-in-out .1s;
    }
    nav:hover, nav.active {
        width: 331px;
    }
    nav:hover > ul > li > p, nav.active > ul > li > p {
        opacity: 1;
        visibility: visible;
    }
    .nav-tab {
        position: absolute;
        display: block;
        background-color: white;
        border-radius: 20px;
        right: -530px;
        top: 0;
        left: auto;
        width: 500px;
        text-align: center;
        z-index: 99;
        margin: 0;
        overflow-y: auto;
    }
}
  