.canvas-coordinates {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 2rem;
  right: 2rem;
  height: fit-content;
  background: white;
  border-radius: 15px;
  color: black;
  padding: .6rem 1rem;
  filter: drop-shadow(0 0 0.4rem rgba(72, 72, 72, 0.6));
}

.canvas-coordinates > p {
  font-family: BlockCraft, Arial;
  font-size: 1.5rem;
  margin: 0;
}

.pixel-selector {
  display: none;
  position: absolute;
  z-index: 98;
  padding: 0;
  margin: 0;
  scale: 1.2;
  opacity: 0.8;
  animation: pop-in .5s cubic-bezier(.14,1.02,.45,1.1);
}

.pixel-id {
  display: none;
  background-color: white;
  border-radius: 10px 10px 10px 0px;
  padding: .5rem 1rem;
  filter: drop-shadow(0 0 0.4rem rgba(72, 72, 72, 0.6));
  font-family: BlockCraft;
  position: absolute;
  animation: fade .5s cubic-bezier(.14,1.02,.45,1.1);
}

.panner_interface:has(.pixel-selector:hover) .pixel-id {
  display: block;
}

.selection-highlight {
  display: none;
  position: absolute;
  background-color: rgba(127, 255, 212, 0.396);
  outline: 1px solid #00bd26;
}

@media screen and (max-device-width: 1200px) {
  .canvas-coordinates {
    display: none;
  }
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes pop-in {
  from {
    opacity: 0;
    scale: 5;
  }
  to {
    opacity: 0.8;
    scale: 1.2;
  }
}